<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sashantgroup.fafwiki">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sc_faf_ico_foreground"
        android:label="FAForever Wiki"
        android:roundIcon="@mipmap/sc_faf_ico_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UnitsDrawActivity"
            android:label="Units Draw"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".UnitInfoActivity"
            android:label="Unit Info"
            android:noHistory="false"
            android:parentActivityName=".UnitsDrawActivity"></activity>
    </application>

</manifest>